
.game_div{
	width: 1420px;
	height:500px;
	background-color: black;
	position: absolute;
}

.control_panel{

	border: 3px solid black;
	width: 300px;
	height: 300px;
	font-size: 30px;
	position: absolute;
	top: 505px;
}

.score_panel{
	border: 3px solid black;
	width: 400px;
	height: 200px;
	font-size: 30px;
	position: absolute;
	top: 505px;
	left: 350px;
}

@font-face{
	font-family: myFirstFont;
	src: url(sansation_light.woff);
}
